.date {
  display: flex;
  flex-direction: column;
  width: 5.5rem;
  height: 5.5rem;
  border: 1px solid #ececec;
  background-color: #08c1f4;
  color: white;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}
.date:hover {
  color: #f40606;
}

.month {
  font-size: 0.75rem;
  font-weight: bold;
}

.year {
  font-size: 0.9rem;
}

.day {
  font-size: 1.5rem;
  font-weight: bold;
}
